 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 870px;
}

.u-section-1 .u-text-1 {
  margin: 68px auto 0;
}

.u-section-1 .u-form-1 {
  height: 662px;
  width: 570px;
  margin: 68px auto 20px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
  .u-section-1 .u-image-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
  .u-section-1 .u-image-1 {
    margin-top: 0;
  }
}

.u-section-1 .u-image-1 {
  width: 161px;
  height: 161px;
  margin: 12px auto 0 41px;
}

.new img{
  float: left;
}