<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Attributes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/geral.css') }}" media="screen"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Attributes.css') }}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#232b79">
    <meta property="og:title" content="Attributes">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
  </head>
  <body class="u-body u-xl-mode" data-lang="pt"><header class="u-clearfix u-grey-80 u-header u-header" id="sec-a184"><div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-sheet-1">
        <nav class="u-align-left u-menu u-menu-one-level u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 500;">
            <a class="u-button-style u-custom-active-color u-custom-border u-custom-border-color u-custom-border-radius u-custom-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-file-icon u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base u-file-icon-1" href="#">
              <img src="images/149187.png" alt="">
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-10 u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-radius-18 u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-2" href="Principal-Page.html" style="padding: 10px 20px;">Principal Page</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-radius-18 u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-2" href="Attributes.html" style="padding: 10px 20px;">Attributes</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-radius-18 u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-2" href="Photo.html" style="padding: 10px 20px;">Photo</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-radius-18 u-text-active-custom-color-1 u-text-grey-90 u-text-hover-custom-color-2" href="Postend.html" style="padding: 10px 20px;">Postend</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-85 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-spacing-15 u-text-active-custom-color-1 u-text-hover-custom-color-2 u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Principal-Page.html">Principal Page</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Attributes.html">Attributes</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Photo.html">Photo</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Postend.html">Postend</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-grey-10 u-section-1" id="sec-9133">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-text u-text-default u-text-1"> Personalize your avatar</h1>
        <div class="u-align-center u-form u-form-1">
          <form action="/postend" method="POST">
            <div class="u-form-group u-form-name">
              <label for="name" class="u-label">Name</label>
              <input type="text" placeholder="Enter your name" id="name-0814" name="name" class="u-border-2 u-border-grey-30 u-input u-input-rectangle u-radius-18 u-white" required="">
            </div>

            <div class="u-form-group u-form-select u-form-group-2">
             
              <label for="select-9570" class="u-label">Sex</label>
              <div class="u-form-select-wrapper">
                <select id="select-9570" name="sex" class="u-border-2 u-border-grey-30 u-input u-input-rectangle u-radius-18 u-white" required="required">
                  <option disabled selected value> -- select an option -- </option>
                  {% for o in sexData %}
                    <option value="{{ o.sex }}">{{ o.sex }}</option>
                  {% endfor %}
                </select>
                
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>

            <div class="u-form-email u-form-group u-form-group-3">
              <label for="email" class="u-label">Email</label>
              <input type="text" placeholder="Enter a valid email addres" name="email" class="u-border-2 u-border-grey-30 u-input u-input-rectangle u-radius-18 u-white" required="required">
            </div>
            <br>
            <table>
              <tr>
                <td>
                  <div class="new">
                    <img class="u-image u-image-round u-radius-50 u-image-4" src="{{ hair1 }}" alt="" data-image-width="91" data-image-height="91">
                    <img class="u-image u-image-round u-radius-50 u-image-4" src="{{ hair2 }}" alt="" data-image-width="91" data-image-height="91">
                    <img class="u-image u-image-round u-radius-50 u-image-4" src="{{ hair3 }}" alt="" data-image-width="91" data-image-height="91">
                    <img class="u-image u-image-round u-radius-50 u-image-4" src="{{ hair4 }}" alt="" data-image-width="91" data-image-height="91">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  cabelo 1 &nbsp&nbsp&nbsp&nbsp cabelo 2 &nbsp&nbsp&nbsp&nbsp cabelo 3 &nbsp&nbsp&nbsp&nbsp cabelo 4 
                </td>
              </tr>
            </table>
            <div class="u-form-group u-form-select u-form-group-4">
              <label for="select-9405" class="u-label">Choose a Hairstyle</label>
              <div class="u-form-select-wrapper">
                <select id="select-9405" name="hair" class="u-border-2 u-border-grey-30 u-input u-input-rectangle u-radius-18 u-white" required="required">
                  <option disabled selected value> -- select an option -- </option>
                  {% for o in hairData %}
                    <option value="{{ o.hair }}">{{ o.hair }}</option>
                  {% endfor %}
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>

            <br>

            <table>
              <tr>
                <td>
                  <div class="new">
                    <img class="u-image u-image-round u-radius-50 u-image-4" src="{{ acc1 }}" alt="" data-image-width="91" data-image-height="91">
                    <img class="u-image u-image-round u-radius-50 u-image-4" src="{{ acc2 }}" alt="" data-image-width="91" data-image-height="91">
                    <img class="u-image u-image-round u-radius-50 u-image-4" src="{{ acc3 }}" alt="" data-image-width="91" data-image-height="91">
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="a">Brinco 1 &nbsp&nbsp&nbsp&nbsp&nbsp Colar 1 &nbsp&nbsp&nbsp&nbsp&nbsp Colar 2</div>
                </td>
              </tr>
            </table>
            
            <div class="u-form-group u-form-select u-form-group-5">
              <label for="acce" class="u-label">Choose an accessory:</label>
              <div class="u-form-select-wrapper">
                <select id="select-0495" name="acce" class="u-border-2 u-border-grey-30 u-input u-input-rectangle u-radius-18 u-white" required="required">
                  <option disabled selected value> -- select an option -- </option>
                  <option value="none">Nada</option>
                  {% for o in accData %}
                    <option value="{{ o.acc }}">{{ o.acc }}</option>
                  {% endfor %}
                </select>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
              </div>
            </div>

            <div class="u-align-center u-form-group u-form-submit">
              <input type="submit" value="Enter" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-grey-90 u-radius-19 u-btn-1">
            </div>
            <div class="u-form-send-message u-form-send-success"> Obrigado! A sua mensagem foi enviada. </div>
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-b796"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Thanks for visiting our website!</p>
      </div></footer>
  
</body></html>