<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/photo.css') }}">
        <title> Document </title>
    </head>
    
    <body>
        <img src="{{ user_image }}" alt="Your Image">

        <br><br>

        <div class="photo">
            <h1>Take another photo</h1>
            <form action="/photo">
                <input type="submit" value="Retake it">
            </form>
        </div>
        <div class="acc">
            <h1>Go to select accessories</h1>
            <form action="/form">
                <input type="submit" value="Continue">
            </form>
        </div>
    </body>
</html>